.container{
  display: grid;
  grid-template-columns: repeat(12, minmax(60px, auto-fit));
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: stretch;
  margin-left: 60px;
  margin-right:60px;
  column-gap: 20px;
  justify-items: stretch;
  
}

.section{
  grid-column-start: span 12;
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  
}
.nav {
  display: inline-flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article > ul > li {
  list-style: none;
}

nav > ul > li {
  list-style: none;
}

.footer{
  display: grid;
  grid-template-columns: repeat(12, auto);
  justify-content: center;
  column-gap: 20px;
  width: 100%;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TYPOGRAPHY */
.nav.leadText {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}

.highlightText {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}