/* Grid Containers */
.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto-fit);
  grid-auto-flow: row;
  justify-content: center;
  column-gap: 2vw;
  row-gap: 2vw;
  justify-items: stretch;
  justify-content: stretch;
}

.hero {
  background-color: #495E57;
  grid-column-start: span 12;
  height: fit-content;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-auto-flow: column;
  overflow:visible;
}

.heroText {
  grid-column-start: 3;
  grid-column-end: 9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.highlights {
  grid-column-start: span 12;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-auto-flow: row;
  place-items: stretch;
  justify-items: stretch;
  justify-content: center;
}
.HLh1 {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 1;

}
.highlightText {
  grid-column-start: 3;
  grid-column-end: 7;
  
}
.highlights1 {
  display: inline-flex;
  grid-column-start: span 10;
  justify-content: center;
}

/* Section Rules */

.section{
  grid-column-start: span 12;
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 2vw;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sectionGrid {
  grid-column-start: span 12;
  height: fit-content;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  overflow:visible;

}

.aboutText {
  grid-column-start: 3;
  grid-column-end: 8;
}

.green{
  background-color: #495E57;
}

.nav {
  grid-column-start:2;
  grid-column-end:10;
  display: inline-flex;
  gap: 7vw;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.booking {
  display: flex;
  justify-content: center;
}
.bookingForm {
  display: grid; 
  width: 50vw;
  max-width: 70vw; 
  gap: 20px;

}

/* Element Rules */
.cardHighlight {
  display: block;
  width: 315px;
  max-width: 25vw;
  height: 40vw;
  max-height: fit-content;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #D9D9D9;
  padding: 1vw;
}

.cardTestimonial {
  grid-column-start: span 2;
  display: block;
  width: 20vw;
  max-width: 25vw;
}

article > ul > li {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
}

/* TYPOGRAPHY */
h1 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 7vw;
  line-height: 7vw;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 2vw;;
}

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 3vw;
  line-height: 3vw;
  align-items: center;
  text-transform: uppercase;
}

h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 2.5vw;
  display: flex;
  align-items: center;
  text-align: center;

color: #EE9972;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 2.5vw;
}

.leadText {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.highlightText {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

input:invalid {
  border: 2px dashed red;
}



/* Image Rules */
.chef {
  object-fit: cover;
  width: 315px;
  height: 418px;
  max-width: 30vw;
  max-height: 45vw;
  border: 1px solid #000000;
  border-radius: 20px;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  align-self: center;
  
}

.logo {
  width: 25vw;;
}

.cardImage {
  width: 315px;
  max-width: inherit;
  max-height: 13vw;
  object-fit: cover;
}

.testimonialImg {
  width: inherit;
}

.yellow {
  color: #F4CE14;
}
.white {
  color: #FFFFFF;
}

/* Button Rules */
button {
  background: #F4CE14;
  border-radius: 15px;
  width: 207px;
  height: 72px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  align-items: center;
  text-align: center;
  max-width: 30vw;
  max-height: 15vw;
}

.menuButton {
  grid-column-start: 11;
  grid-column-end: 12;
}
